<!-- <!DOCTYPE html>
 {% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
    <title>This is Home Page Template Page</title>
  </head>


  <body>
         <h1>Home Page!</h1>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


          <h4>{{ text_1}}</h4>
          <h5>{{ text_2 }}</h5>
          <img src="{% static "images/img.jpg" %}" alt="images can not open the File ">






         <h6>This is Fotter Page!</h6>

  </body>
</html> -->

<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
    <title>Musician List</title>
  </head>

  <body>
        {{ text_1}}
         <hr>

        <table border="1" >
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Instrument</th>
            </tr>


        {% for row in musician %}

          <tr>
            <td>{{ row.first_name }}</td>
            <td>{{ row.last_name }}</td>
            <td>{{ row.instrument }}</td>
          </tr>

        {% endfor %}

    </table>
  </body>
</html>
